* {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  font-family: cursive;
}
.containor {
  height: 100vh;
  background:linear-gradient(120deg, rgb(255, 208, 0),rgb(0, 132, 255),red);
}
.heder {
  height: 100px;
}
.box {
  background-color: rgb(255, 254, 252);
  margin-top: 150px;
  height: 500px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 2px rgb(219, 186, 247) !important;
}
input {
  border: none !important;
  border-bottom: .05px solid rgb(19, 14, 8) !important ;
  margin: 3px;
}
textarea {
  border: none !important;
  border-bottom: 1px solid rgb(19, 14, 8) !important ;
  margin: 3px;
}
.btn {
  background-color: rgb(14, 241, 25) !important ;
  border: none !important;
}
